.quiz-container {
    max-width: 600px;
    margin: auto;
    margin-top:50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #080808;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

.question {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.options {
  list-style-type: none;
  padding: 0;
}

.options li {
  margin-bottom: 10px;
}

.buttons {
  margin-top: 20px;
}

.buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #0056b3;
}
